{% extends "base.html" %}

{% block css_ %}
<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
{% endblock %}

{% block content %}

<div id="linreg" style="width:600px; height:400px;"></div>
<div id="simplescatter" style="width:600px; height:400px;"></div>
<div id="partitionscatter" style="width:600px; height:400px;"></div>
<div id="regionalcomp" style="width:600px; height:400px;"></div>
<div id="main" style="width:600px; height:400px;"></div>

{% endblock %}

{% block script_ %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
  var option;
  var mylinregChart = echarts.init(document.getElementById('linreg'));
  async function getData() {
    var resp = await axios.get('/getdata/linreg')
    return resp
  }
  getData().then(function (resp) {
    option = {
      title: {
          text: resp.data.name,
          left: 'center',
          top: 0
      },
      tooltip: {
          formatter: 'Group {a}: ({c})'
      },
      xAxis: {gridIndex: 0, min: 0, max: 20},
      yAxis: {gridIndex: 0, min: 0, max: 20},
      series:
          {
              name: 'I',
              type: 'scatter',
              xAxisIndex: 0,
              yAxisIndex: 0,
              data: resp.data.data
          }
        }
    mylinregChart.setOption(option);
  }
)
</script>

<script type="text/javascript">
  var option;
  var myscatterdateChart = echarts.init(document.getElementById('simplescatterwithdate'));
  async function getData() {
    var resp = await axios.get('/getdata/simplescatterwithdate')
    return resp
  }
  getData().then(function (resp) {
    option = {
      title: {
          text: resp.data.name,
          left: 'center',
          top: 0
      },
      tooltip: {
          formatter: 'Group {a}: ({c})'
      },
      xAxis: {type: 'category', boundaryGap: false, data: resp.data.data_x},
      yAxis: {type: 'value', boundaryGap: false},
      series:
          {
              name: 'II',
              type: 'line',
              data: resp.data.data_y
          }
        }
    myscatterdateChart.setOption(option);
  }
)
</script>

<script type="text/javascript">
  var option;
  var mypartitionscatterChart = echarts.init(document.getElementById('partitionscatter'));
  async function getData() {
    var resp = await axios.get('/getdata/partitionscatter')
    return resp
  }
  getData().then(function (resp) {
    option = {
      title: {
          text: resp.data.name,
          left: 'center',
          top: 0
      },
      tooltip: {
          formatter: 'Group {a}: ({c})'
      },
      xAxis: {type: 'category', boundaryGap: false, data: resp.data.data_x},
      yAxis: {type: 'value', boundaryGap: false},
      series:
          {
              name: 'II',
              type: 'line',
              data: resp.data.data_y
          }
        }
    mypartitionscatterChart.setOption(option);
  }
)
</script>

{% endblock %}
